<div class="body-section">
    <div class="body-content">
        <!-- <h2>Mission</h2>

        <p style="text-align: center;">
            To provide high quality sweet and savory products. To be prompt in delivery times and to provide competitive
            pricing and customer satisfaction.
        </p> -->

        <div class="row justify-content-center text-center">
            <div class="col-7">
                <h1>Mission</h1>
                <p>
                    To provide high quality sweet and savory products. To be prompt in delivery times and to provide
                    competitive pricing and customer satisfaction.
                </p>
            </div>
        </div>
    </div>
</div>