<div class="body-section">
    <h2>Sweet - Bites of Delights</h2><br />

    <img src="assets/img/cookies.jpg" alt="Cookies by T. Jones" style="float: right; max-height: 400px; width: auto;">
    <h4>Cookies - $8 per dozen</h4>
    <ul>
        <li>
            Chew Gooey Goodness Chocolate Chip Cookies
        </li>
        <li>Sugar</li>
        <li>Shortbread</li>
        <li>Oatmeal</li>
    </ul>

    <h4>Ice Cream/Sorbet Sandwiches - $20 per dozen</h4>
    <ul>
        <li>Chewy Gooey Goodness Chocolate Chip Cookie Ice Cream Sandwiches</li>
        <li>Sugar Cookie Sorbet Sandwiches</li>
    </ul>

    <h4>Brownies – 8” pan - $15</h4>
    <ul>
        <li>Dark Chocolate Fudge Pistachio Ganache Brownies (you can replace pistachios for any other nut or candy)</li>
    </ul>


    <h4>Cakes</h4>
    <ul>
        <li>Aunt Pat’s Pound Cake – 2 loafs - $30; 1 loaf $15; Bundt $25 (Strawberries and whipped cream – additional
            $10, $16)</li>
        <li>Grandmother’s Caramel Layer Cake - $30</li>
        <li>Grandmother’s Coconut Layer Cake - $30</li>
        <li>German Chocolate Cake - $30</li>
        <li>Bundt Rum Cake - $30</li>
        <li>Cupcakes - $20 per dozen</li>
    </ul>

    <h4>Pies - $13, Cobblers $20</h4>
    <ul>
        <li>Apple</li>
        <li>Peach</li>
        <li>Sweet Potato</li>
        <li>Geneva’s Egg Custard</li>
    </ul>

    <h4>Sweet Rolls</h4>
    <ul>
        <li>Cinnamon Rolls with Vanilla Frosting - $25 per dozen</li>
        <li>With Vanilla-Bourbon Frosting - $30 per dozen</li>
    </ul>

    <h4>Sweet Breads - $10 per loaf</h4>
    <ul>
        <li>Banana Bread</li>
    </ul>

    <h4>Jams - $10 per 8 oz jar</h4>
    <ul>
        <li>Strawberry</li>
    </ul>

    <p>
        I can customize any desserts per your request – pricing TBD
    </p><br>

    <h2>Savory Sensations</h2>
    <ul>
        <li>Biscuits - $10 per dozen</li>
        <li>Grandmother’s Dinner Rolls - $20 per dozen</li>
        <li>Garlic Bread with homemade garlic butter - $10</li>
    </ul>

    <p>
        Customized Appetizers and Charcuterie Boards – pricing TBD <br>
        <br>
        Customized savory meals (and meal preps) per your request – oven ready or fully cooked – pricing TBD <br>
        <br>
        Customized catering for up to 25 people – pricing TBD
    </p>
</div>