@import "../global-variables.scss";
.navbar {
  background-color: $primary-color;

  a {
    color: white;
  }

  .nav-link {
    color: #ffffff8c;
  }

  .active {
    color: white;
  }
}
.navbar-brand {
  padding: 0px;
}

@media (max-width: 500px) {
  .brandName {
    font-size: 0%;
  }
}
