<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a [routerLink]="['']" class="navbar-brand">
        <img src="assets/img/TJonesSweetSavoryLogoTrim.jpg" height="50" class="d-inline-block align-center"
          alt="T. Jones Sweet & Savory Sensations">
        T. Jones Sweet & Savory Sensations
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav main-nav" id="nav-list">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
