<div class="body-section">
    <div class="body-content">
        <!-- <h2>Vision</h2>

        <p style="text-align: center;">
            To provide homecooked meals and desserts that will satisfy your tastebuds to keep you coming back.
        </p> -->

        <div class="row justify-content-center text-center">
            <div class="col-9">
                <h1>Vision</h1>
                <p>
                    To provide homecooked meals and desserts that will satisfy your tastebuds to keep you coming back.
                </p>
            </div>
        </div>
    </div>
</div>