<div class="my-story body-section">
    <div class="body-content">
        <h1>My Story</h1>

        <p>
            I come from 3 generations of home cooks. Sunday dinners were filled with good food and family. Every dish was
            made from scratch. I remember watching my mother, my grandmother and my aunt preparing our meals. I learned the
            ingredients they used, I learned their techniques – the “pinch of this and the dab of that” of the dishes they
            made. Milree, Geneva and Pat have passed on, but I think of them often and cherish them for passing down our
            family food traditions.
        </p>

        <p>
            Sweet and Savory Sensations is a home-based business that creates delectable sweet and savory dishes. My sweets
            menu creates mouthwatering cakes, cookies, pies and more. My savory dishes are customized and made to order –
            you tell me what you would like and I will have it fully cooked or oven ready using quality ingredients to bring
            you “food that’s good for your soul!”
        </p>
    </div>
</div>